# Ignore all compiled output files
a.out
*.out
*.exe

# Ignore all binaries with no extension (Linux)
*

# But DO NOT ignore these (important!)
!*.c
!*.h
!*.md
!*.txt
!Makefile
!.gitignore
!*/

# Ignore object files
*.o

# Ignore debug files
*.gdb

